@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
  --purple: #814096;
  --pink: #f83292;
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}
*::selection {
  background-color: var(--pink);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #f9f9f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: var(--purple);
}

header .logo span {
  color: var(--pink);
}

header .navbar a {
  font-size: 1.7rem;
  color: var(--purple);
  margin-left: 2rem;
}

header .navbar a:hover {
  color: var(--pink);
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: var(--purple);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 8rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 5rem;
  background: var(--gradient);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/home-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .image img {
  width: 40vw;
  animation: float 3s linear infinite;
}

.heading {
  text-align: center;
  background: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

.home .content h3 {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--pink);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.7rem;
  padding: 1rem 0;
}

.features .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.features .box-container .box {
  flex: 1 1 30rem; /*grow shrink basis*/
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
}

.about {
  background: url(../images/about-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}

.about .column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about .column .image {
  flex: 1 1 40rem;
}

.about .column .image img {
  width: 100%;
}

.about .column .content {
  flex: 1 1 40rem;
}

.about .column .content h3 {
  font-size: 3rem;
  color: #666;
}

.about .column .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.about .column .content .buttons a:last-child {
  margin-left: 2rem;
}

.newsletter {
  text-align: center;
  padding: 5rem 1rem;
  background: url(../images/subscribe-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.newsletter h3 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}

.newsletter p {
  font-size: 1.6rem;
  color: #fff;
  margin: 2rem auto;
  width: 70rem;
}

.newsletter form {
  display: flex;
  /* justify-content: center; */
  max-width: 70rem;
  border: 0.2rem solid #fff;
  margin: 2rem auto;
  padding: 0.5rem;
  border-radius: 5rem;
  height: 5.5rem;
}

.newsletter form input[type="email"] {
  font-size: 1.7rem;
  background: none;
  color: #fff;
  padding: 0 2rem;
  width: 100%;
  text-transform: none;
}

.newsletter form input[type="email"]::placeholder {
  text-transform: capitalize;
  color: #eee;
}

.newsletter form input[type="submit"] {
  background: #fff;
  width: 20rem;
  border-radius: 5rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.newsletter form input[type="submit"]:hover {
  color: var(--pink);
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 0 5%;
    padding-top: 8rem;
  }
}

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s linear;
  }

  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }

  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked ~ label::before {
    content: "\f00d";
  }

  .home {
    flex-flow: column-reverse;
  }

  .home .image img {
    width: 100%;
  }

  .home .content h3 {
    font-size: 3.6rem;
  }

  .home .content p {
    font-size: 1.6rem;
  }

  .about {
    background-position: right;
  }

  .newsletter p {
    width: auto;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .column .content .buttons a {
    width: 100%;
    text-align: center;
  }
  .about .column .content .buttons a:last-child {
    margin: 1rem 0;
  }
}
